h3{
    margin-top: 20px;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #00568F;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
}
input[type=submit]{
    background-color: #00568F;
    color: white;
    padding: 5px 10px;
}
input[type=submit]:hover{
    background-color: #023557;
}

main {
    margin-top: 50px;
}
h2{
    
    margin-left: 0;
}