h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    color: #000000;
}

h2 {
    font-weight: bold;
    text-align: center;
}

#route-box h2 {
    font-weight: bold;
    text-align: center;

    color: #FFFFFF;
}

#route-box {
    display: flex;
    justify-content: space-between;

    margin: auto;
    margin-top: 100px;
    padding: 50px;

    width: 75%;
    background-color: #00568F;
    
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.header-and-input {
    width: 30%;
}

.form-control {
    margin-top: 30px;

    border: 2px solid #00568F;

    flex: 1;
}

#news-section {
    background-color: #BFBFBF;
    margin-top: 150px;
    padding-bottom: 60px;
    padding-top: 100px;
}

#news-heading {
    font-weight: bold;
    text-align: center;
    background-color: #00568F;
    color: #FFFFFF;
    padding: 20px;
}

.article-box {
    display: flex;
    justify-content: space-between;

    width: 75%;

    margin: auto;
    margin-top: 50px;
    padding: 20px;

    background-color: #FFFFFF;
    border-radius: 5px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-container {
    display: flex;
    align-items: center;
    width: 40%;
}

.img-thumbnail {
    width: 100%;
    height: auto;

    background-color: #BFBFBF;
}

.article-preview {
    width: 55%;
    color: #000000;
    padding: 10px;
}

.article-preview h3 {
    background-color: #00568F;
    color: #FFFFFF;
    padding: 10px;
}

@media (max-width: 900px) {
    .article-box {
        flex-direction: column-reverse;
        align-items: center;
    }

    .article-preview {
        width: 100%;
    }

    .img-container {
        width: 100%;
        margin-top: 10px;
    }
}


@media (max-width: 778px) {
    #route-box {
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 590px) {
    #route-box {
        flex-direction: column;

        padding-top: 0;
    }

    .header-and-input {
        width: 100%;
        margin-left: auto;

        margin-top: 40px;
    }


    .form-control {
       margin-top: 10px;
    }
}