.form{
    display: flex;
    justify-content: center;
    flex-direction: column;      
    background-color: lightgray;
    margin: auto;
    width: 35%;
    margin-top: 125px;
    padding: 10px;
    border: 3px #00568F;

  }
  .btn{
      background-color: #00568F;
      color: white;
      margin-top: 5px;
  }
  .btn:hover{
    background-color: #0081d7;
    color: white;
  }
  .form-control{
      border: 2px solid #00568F ;
  }