.form{
    display: flex;
    justify-content: center;
    flex-direction: column;      
    background-color: lightgray;
    margin: 15% auto;
    width: 40%;
    padding: 20px;
    border: 3px solid #00568F;
    box-sizing: border-box;

  }
  .form * {
    width: 100%;
  }
  #result {
    text-decoration:  underline dotted #00568F;
  }
  h1 {
    margin-bottom: 20px;
    width: 100%;
  }
  label {
    font-weight: bold;
  }
  .btn{
      background-color: #00568F;
      color: white;
      margin-top: 5px;
      padding: 8px 16px;
  }
  .btn:hover{
    background-color: #0081d7;
    color: white;
  }
  .here{
    color: #00568F;
  }
  .form-control{
      border: 2px solid #00568F ;
      margin-bottom: 10px;
  }
  .form-check-input {
    width: 18px;
  }
  @media (max-width: 600px){
    .form{
      width: 90%;
    }
  }

  