/*
Colors
- #00568F (blue)
- #FFFFFF (white)
- #BFBFBF (gray)
- #00000 (black)
- #0081d7 (light-blue)
Fonts
- "Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
*/

html {
    font-family: "Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    margin: 0;
}
main{
    margin-bottom: 0;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #00568F;
    color: #ffff;
    width: 100%;
    margin-top: auto;
    padding-top: 32px;
}
.f1{
    bottom: 0 auto;
    margin-top: auto;
}


.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    background-color: #00568F;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.nav-list li a:hover:not(.active) {
    background-color: #0081d7;
}

#login {
    float: right;
}

.active {
    background-color: #0081d7;
}

@media (max-width: 900px) {
    .nav-list li {
        float: none;
    }

    #login {
        float: none;
    }
}
