/*
Colors
- #00568F (blue)
- #FFFFFF (white)
- #BFBFBF (gray)
- #333333 (black)
*/

body {
    margin: 0;
}

header {
    display: flex;
    background-color: #00568F;
    color: #FFFFFF;
    padding: 20px;
    align-items: center;
}

#logo {
    flex: 1;
    font-weight: bolder;
}

#navigation-bar {
    flex: 2;
}

#navigation-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-item {
    flex: 1;
}

#login {
    color: #333333;
    background-color: #FFFFFF;
    padding: 10px;
}
