.title1, .title2, .tickethead, label, #LTicket, #RTicket{
    font-weight: bold;
}
.title1{
    margin-left: 650px;
    margin-top: 15px;
    font-weight: bolder; 
}
.title2{
    margin-left: 100px;
}
#sticket{
    background-color: grey;
}
.tickethead{
    margin-left: 120px;
    margin-top: 50px;
}
label{
    margin-left: 130px;
}
aside{
    margin-top: 200px;
    background-color: grey;
}
#LTicket{
    display: flex;
    text-align: left;
    margin-left: 100px;
}
#RTicket{
    text-align: right;
    margin-right:100px;
}
