h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    color: #000000;
    font-size: 40px;
}

#travelling-section {
    background-color: #00568F;
    color: #FFFFFF;

    margin: auto;
    margin-top: 100px;
    width: 75%;
    padding: 30px;

    border-radius: 15px;
}

#travelling-section h2 {
    text-align: center;
    padding-bottom: 20px;
}

#groups-container {
    display: flex;
    justify-content: space-around;
}

#groups-container a {
    text-decoration: none;
}

#groups-container a:hover {
    background-color: #0081d7;  
}

.group {
    background-color: #00568F;
    color: #FFFFFF;

    width: 20%;
    border: white solid 5px;
}

.group h3 {
    text-align: center;
}

.group span {
    display: flex;
    justify-content: center;
}

@media (max-width: 590px) {
    #groups-container {
        flex-direction: column;
    }

    .group {
        width: 100%;
        margin-bottom: 20px;
    }
}