main {
    margin-bottom: 0;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    color: #000000;
    font-size: 40px;
}

#groups-section {
    background-color: #00568F;
    color: #FFFFFF;

    margin: auto;
    margin-top: 100px;
    width: 75%;
    padding: 40px;

    border-radius: 15px;
}

#groups-section h2 {
    text-align: center;
    padding-bottom: 40px;
}

#groups-container {
    display: flex;
    justify-content: space-around;
}

#groups-container a {
    text-decoration: none;
}

#groups-container a:hover {
    background-color: #0081d7;  
}

.group {
    background-color: #00568F;
    color: #FFFFFF;

    width: 22%;
    border: white solid 5px;
}

.group h3 {
    text-align: center;

    padding-top: 20px;
}

.group span {
    display: flex;
    justify-content: center;
}

#map-section {
    margin-top: 150px;
    background-color: #BFBFBF;
    padding: 100px 0 100px 0;

    text-align: center;
}

#map-section h2{
    padding: 20px;
    background-color: #00568F;
    color:#FFFFFF;
}

#map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #00568F;
    padding: 30px;

    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 50px;

    border-radius: 15px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.label-and-input {
    width: 45%;
}

.label-and-input label {
    color: #FFFFFF;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.form-control {
    width: 100%;
}

.map {
    width: 100%;
    height: 500px;

    margin-top: 30px;
    
    background-color: white;
    padding: 2px;
}

@media (max-width: 1100px) {
    #groups-container {
        flex-wrap: wrap;
    }

    .group {
        width: 47%;
        margin-bottom: 20px;
    }
}

@media (max-width: 590px) {
    #groups-section {
        width: 100%;
        border-radius: 0;
    }

    #groups-container {
        flex-direction: column;
    }

    .group {
        width: 100%;
        margin-bottom: 20px;
    }

    #map-container {
        width: 100%;

        border-radius: 0;
    }
}